input{
	margin-left: 5px;
}
.spacing{
	margin-top: 20px;
	padding: 5px 10px;
	background: #95B85E;
}
.in-sp{
	font-weight: bold;
	color: white;
	font-size: 16px;
}
.acc{
	padding: 5px;
	background: white;
}
.acc span{
	margin-left: 5px;
	line-height: 50px;
}
.acc-weixin{
	margin-left: 25px;
	width: 50px;
	height: 50px;
}
.acc-clo{
	color: #1FB5AC;
}
.acc-input{
	padding: 5px;
	height: 20px;
	border-radius: 0;
	border:1px solid #A9A9A9;
	-webkit-appearance: none;
}
.acc-img{
	width: 100px;
	height: 40px;
}
.dis-bl{
	display: block;
}
.acc_btn{
	margin-left: 10px;
	background-color: #1FB5AC;
	width: 65px;
	line-height: 32px;
}
.acc-p{
	line-height: 16px;
	margin-left:20px;
	width:140px;
}
.sen_btn{
	margin-left: 10px;
	line-height: 32px;
	background:#ccc;
	cursor:pointer;
}