.spacing{
	margin-top: 10px;
	background: #95B85E;
}
.note-ul{
	color: white;
}
.note-ul li{
	padding:5px 0;
	width: 33%;
	float:left;
	text-align: center;
	list-style-type:none;
	border-right: 1px solid #ccc;
}
.li-color{
	background: #1FB5AC;
}

#error,#question{
	display: none;
}
.bac{
	margin-top: 10px;
	padding:10px;
	background: white;
}
.bac div{
	padding:4px 0;
}
.alg-r{
	text-align: right;
	color: #1FB5AC;
}
.note-details{
	display: none;
}