.paper-wrap{
    background-color: #ffffff;
}
.paper-wrap .paper-ans{
    border-bottom: 1px solid #cccccc;
    padding: 0.9rem;
}
.paper-ans .ans-title{
    font-size: 1rem;
}
.paper-ans .ans-result{
    font-size: 1rem;
}
.paper-ans .ans-result input[type=checkbox],
.paper-ans .ans-result input[type=radio]{
    margin: 0 5px;
}
.ans-ft{
    /*height: 50px;*/
    background-color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #cccccc;
    text-align: center;
    padding: 0.5rem;
}
.weui_btn.weui_btn_custom_primary{
    background-color: #3EC6BD;
    display: inline-block;
    width: auto;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}