.banner{
	padding: 10px;
	margin-top: 1.17647059em;
	background: white;
}
.banner-img{
	float: left;
	width: 70px;
	height: 70px;
	border-radius: 4px;
	background: url(/img/all.png) -903px -82px no-repeat;
}
.banner-center{
	float: left;
	margin: 5px 10px;
}
.banner-fr{
	color: #1FB5AC;
	line-height: 70px;
	float: right;	
}

.center-fl{
	float: left;
	font-size: 12px;
}
.center-cen{
	margin: 0 2px;
	line-height: 50px;
	color: #1FB5AC;
}
.circliful { 
    position: relative;  
} 
.circle-text, .circle-info, .circle-text-half, .circle-info-half { 
    width: 100%; 
    position: absolute; 
    text-align: center; 
    display: inline-block; 
} 
.circle-info, .circle-info-half { 
    color: #999; 
} 
.circliful .fa { 
    margin: -10px 3px 0 3px; 
    position: relative; 
    bottom: 4px; 
} 
.weui_progress_bar {
    background-color: #EBEBEB;
    height: 15px;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.weui_cells p{
	font-size: 12px;
}
.weui_progress_inner_bar {
    height: 100%;
    background-color: #95B85E;