.psw-cen{
	padding: 10px;
	margin-top: 1.17647059em;
	background: white;
	font-size:16px;
	line-height: 50px;
	text-align: center;
}
.psw-cen input{
	width: 150px;
	padding: 5px;
	height: 20px;
	border-radius: 0;
	border:1px solid #A9A9A9;
	-webkit-appearance: none;
}
.psw-img{
	margin-top: 20px;
	width: 100px;
	height: 40px;
}